.home-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-middle {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 10px ; */
}

.home-main {
    margin: 30px 0 30px 0;
    display: flex;
    /* justify-content: space-between; */
    /* gap: 10px ; */
}

.home-bottom {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    /* gap: 10px ; */
}

.home-right {
    margin: 30px 0 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 10px ; */
}