* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    --red-SportSee: #E60000;
    --red-Title: #FF0101;
    --black-nav: #020203;
    --black-bar: #282D30;
    --background: #FBFBFB;
    --red-User: #FF0101;
    --black-intensity: #282D30;
    
}
