.leftbar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;

}
.copyright {
    /* margin:0 150px; */
    transform: rotate(-90deg);
}