.leftbar {
    width: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.leftbar-Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright {
    font-size: 12px;
    text-wrap: nowrap;
    margin-bottom: 100px;
    transform: rotate(-90deg);
}
