.navbar{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
