.custom-tooltip {
    margin-left: 50px;
    margin-top: -50px;
    width: 40px;
    height: 64px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--red-SportSee);
    color: white;
    font-size: 9px;
    justify-content: spa;
    justify-content: space-between;
    align-items: center;
}

.activity {
    display: flex;
    align-items: center;
    width: 835px;
    height: 320px;
    background-color: var(--background);
}
