.user-title h2 {
    display: flex;
    font-size: 48px;
    gap: 12px;
}

.user-title p {
    font-size: 18px;
    font-weight: 400;
}

.user-info {
    color: var(--red-User);
}
.user-title {
    grid-column: 1 / 5;
    grid-row: 1;
}

