.user-score {
    grid-column: 3;
    grid-row: 3;
    min-width: 200px;
    min-height: 200px; 

    max-width: 260px;
    max-height: 260px;

    border-radius: 5px;
    background-color: var(--background);
}