.user-nutriment {
    padding-left: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 258px;
    height: 124px;
    background-color: var(--background);
}
.user-nutriment_right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
