.custom-tooltip_bar {
    margin-left: 50px;
    margin-top: -50px;
    width: 40px;
    height: 64px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--red-SportSee);
    color: white;
    font-size: 9px;
    justify-content: spa;
    justify-content: space-between;
    align-items: center;
}

.activity {
    display: flex;
    align-items: center;
    width: 835px;
    height: 320px;
    background-color: var(--background);
}

.recharts-legend-item.recharts-legend-item.legend-item-0 {
    padding-right: 28px;
}
.recharts-legend-item-text {
    margin-left: 5px;
    color: #74798C !important;
}
