.custom-tooltip_bar {
    margin-left: 50px;
    margin-top: -50px;
    width: 40px;
    height: 64px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--red-SportSee);
    color: white;
    font-size: 9px;
    justify-content: spa;
    justify-content: space-between;
    align-items: center;
}

.activity {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: var(--background);
    padding: 2vh 0 2vh 0;
    min-width: 575px;
}

.recharts-legend-item.recharts-legend-item.legend-item-0 {
    padding-right: 28px;
}
.recharts-legend-item-text {
    margin-left: 5px;
    /* Met en priorité la bonne couleur de la légende (noir et non rouge) */
    color: #74798C !important;
}
