.user-radar {
    /* margin-top: 50px; */
    /* margin: auto 0 auto 0; */

    font-size: 12px;
    flex-basis: 33%;

    /* grid-column: 2;
    grid-row: 3; */
    min-width: 175px;
    min-height: 175px; 

    max-width: 260px;
    max-height: 260px;

    border-radius: 5px;
    background-color: var(--black-intensity);
}

@media (max-width: 1250px) {
    .recharts-text.recharts-polar-angle-axis-tick-value {
        font-size: 10px;
        color: var(--white);
    }
}

@media (max-width: 1100px) {
    .recharts-text.recharts-polar-angle-axis-tick-value {
        font-size: 9px;
        color: var(--white);
    }
}
